<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="q8rn.com.q8rn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity" />
        <activity
            android:name=".ui.main.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.FormActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.main.FormStepperActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.main.QuestionarioActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.main.EscoreActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.main.Main2Activity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".ui.main.EntrevistadoDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_entrevistado_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.main.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>